---
import { getBlogList, getCategoryList } from "@libs/microcms.ts";
import Layout from "@layouts/Layout.astro";
import BlogList from "@components/BlogList.astro";
import Pagination from "@components/Pagination.astro";
import CategoryList from "@components/CategoryList.astro";
import { LIMIT } from "@constants/index.ts";
import { getSettings } from "@libs/microcms.ts";
import SearchBox from "@components/SearchBox.astro";
export const prerender = true;

const settings = await getSettings();

const { contents: blogs, totalCount } = await getBlogList({
  limit: LIMIT,
});

const { contents: categories } = await getCategoryList();

const Meta = {
  title: settings?.title || "Set Your Title Here",
};
---

<Layout Meta={Meta}>
  <header class="rounded-2xl bg-gray-50 p-6 md:p-10">
    <h1 class="text-3xl font-bold">{settings?.title ?? "ヘルプセンター"}</h1>
    <p class="mt-2 opacity-70">知りたいことを検索できます。</p>
    <div class="mt-6">
      <SearchBox />
    </div>
  </header>

  <main class="mt-10">
    <!-- ここがメインコンテンツ -->
    <div class="space-y-8">
      <BlogList blogs={blogs} />
      <Pagination totalCount={totalCount} />
    </div>
  </main>
</Layout>
