---
// src/components/BlogPost.astro
import Date from "@components/Date.astro";
import type { Category } from "@libs/microcms";

const { blog } = Astro.props;
---


type TocItem = {
  id: string;
  text: string;
  level: number;
};

let html = "";
let toc: TocItem[] = [];

if (blog.content) {
  const { html: transformedHtml, data } = await microCMSRichEditorHandler(
    blog.content,
    {
      transformers: [
        responsiveImageTransformer(),
        codeBlockFileNameTransformer({
          attributes: {
            class: "fileName",
          },
        }),
        syntaxHighlightingByShikiTransformer({
          defaultHighlightOptions: {
            lang: "javascript",
            theme: "github-dark",
          },
        }),
      ],
      extractors: {
        toc: [
          tocExtractor({
            ignoreLevels: [4, 5],
          }),
        ],
      },
    }
  );

  html = transformedHtml;
  toc = data.toc;
}

blog.content = html;
---

<article class="prose max-w-none">
  <h1 class="text-3xl font-medium mb-3 leading-normal">{blog.title}</h1>

  <p class="mb-4">
    <Date date={blog.publishedAt || blog.createdAt} />
  </p>

  <div class="flex flex-wrap gap-2 mb-8">
    {
      blog.category?.length > 0 ? (
        blog.category.map((cat: Category) => (
          <a
            href={`/category/${cat.id}`}
            class="category bg-gray-600 text-white px-3 py-1 rounded-full text-xs hover:bg-gray-700 transition"
          >
            {cat.name}
          </a>
        ))
      ) : (
        <span class="text-gray-400 text-xs">No Category</span>
      )
    }
  </div>


  <div set:html={blog.content} class="entry-content prose max-w-none" />
</article>
